<div class="btn-group" role="group" data-toggle="modal" data-target="#admin-demo"
     title="This is only a datagrid demo, no actions are available">
    <span class="btn btn-primary disabled">
        <i class="fa fa-eye"></i>
    </span>
    <span class="btn btn-info disabled">
        <i class="fa fa-edit"></i>
    </span>
    <span class="btn btn-danger disabled">
        <i class="fa fa-trash"></i>
    </span>
</div>
